:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
}

.p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  color: #afb1b8;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: currentColor;
}

.social__link:hover,
.social__link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.social__list .social__item + .social__item {
  margin-left: 10px;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 500ms, visibility 500ms;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 528px;
  min-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition-duration: 500ms;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn-icon {
  fill: #000000;
}

.close-btn-icon:hover, .close-btn-icon:focus {
  fill: var(--accent-color);
}

.modal-title {
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.modal-field {
  position: relative;
  margin-bottom: 10px;
}

.input-shell {
  position: relative;
}

.input-shell:hover .modal-input {
  border-color: var(--accent-color);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-shell:hover .modal-icon,
.modal-input:focus ~ .modal-icon {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
}

.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.agreement-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement-icon-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8.5px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.agreement-text-terms {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 5px;
}

.icon-check {
  fill: transparent;
}

.check-agreement:checked + .agreement-text .agreement-icon-check {
  background-color: var(--accent-color);
  border: none;
}

.check-agreement:checked + .agreement-text .agreement-icon-check .icon-check {
  fill: #FFFFFF;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 4px;
  padding: 10px 55px;
  border: 1px transparent;
  min-width: 200px;
  height: 50px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  outline: 1px solid #ececec;
}

.header-logo-accent {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-logo {
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-list {
  display: flex;
}

.header-link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-communication-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.header-item:not(:last-child) {
  display: block;
  margin-right: 50px;
}

.header-communication-item {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.header-link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  left: 0;
  bottom: 0;
}

.header-mail-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 30px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

.tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-mail-link:hover,
.header-mail-link:focus {
  color: var(--accent-color);
}

.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Img-7-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.hero-btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px transparent;
  min-width: 200;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
}

.benefits {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  width: 270;
  height: 251px;
}

.benefits-box {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
}

.benefits-item {
  width: 270px;
  height: 251px;
}

.benefits-list .benefits-item + .benefits-item {
  margin-left: 30px;
}

.benefits-icon {
  width: 70px;
  height: 70px;
}

.benefits-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.benefits-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.work {
  padding-bottom: 94px;
}

.work-title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-list .work-item + .work-item {
  margin-left: 30px;
}

.work-item {
  margin-top: 0;
  align-items: center;
}

.work-item-card {
  position: relative;
}

.text-card {
  position: absolute;
  width: 370px;
  height: 70px;
  margin: 0;
  padding: 27px 82px;
  bottom: 0;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.command {
  padding-top: 102px;
  padding-bottom: 86px;
  background: #f5f4fa;
}

.person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.command__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.card__list {
  display: flex;
  width: 270px;
  text-align: center;
}

.card__list .card__item + .card__item {
  margin-left: 30px;
}

.card__item {
  outline: border -1px -1px solid #eeeeee;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.person__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.person__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.social__list {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
}

.clients {
  padding-top: 102px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-list .clients-item + .clients-item {
  margin-left: 30px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: solid 1px #afb1b8;
  border-radius: 4px;
  background-color: #ffffff;
  color: #afb1b8;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: currentColor;
}

.client-link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  background-color: #2f303a;
}

.footer .container {
  display: flex;
}

.footer-contacts {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 70px;
}

.footer-logo-accent {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-logo {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.footer-contacts-list {
  list-style: none;
}

.footer-contacts-item:not(:last-child) {
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.footer-mail-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  padding-top: 72px;
  padding-bottom: 100px;
  margin-right: 93px;
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  display: flex;
  list-style: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: currentColor;
}

.footer-social-list .social-item + .social-item {
  margin-left: 10px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.footer-subscribe {
  padding-top: 72px;
  padding-bottom: 94px;
}

.sub-field {
  display: flex;
}

.footer-sub-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.sub-input {
  min-width: 358px;
  height: 50px;
  color: var(--second-text-color);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
}

.sub-btn {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  padding: 10px 28px;
  border: 1px transparent;
  width: 200px;
  height: 50px;
  margin-left: 0 auto;
  margin-right: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-send {
  fill: #FFFFFF;
  margin-left: 10px;
}

.portfolio {
  padding: 94px 0;
}

.nav__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.nav__list .nav__item + .nav__item {
  margin-left: 8px;
  align-items: center;
}

.nav__btn {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px transparent;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  color: var(--second-text-color);
  transition-property: background-color color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn--first {
  background-color: var(--accent-color);
  color: var(--second-text-color);
}

.btn--second {
  color: #212121;
  background-color: #f5f4fa;
}

.btn--first:hover,
.btn--first:focus,
.btn--second:hover,
.btn--second:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project__list {
  display: flex;
  flex-wrap: wrap;
}

.project__item {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  border: 1px solid #eeeeee;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover,
.project__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__item:nth-child(3n) {
  margin-right: 0;
}

.project__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.name-project {
  padding: 20px 24px;
}

.name-project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.name-project__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.project-wrap {
  position: relative;
  overflow: hidden;
}

.project-wrap__text {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms linear;
  margin: 0;
  padding: 63px 24px;
  height: 100%;
  top: 0%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.project__item:hover .project-wrap__text {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */