
.benefits {
    
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
  
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .benefits-item {
    width: 100%;
   
    @media screen and (min-width: 480px){
      width: 480px;
    }
    @media screen and (min-width: 768px){
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px){
      width: calc((100% - 90px) / 4);
    }
    
  }


  .benefits-box {
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f4fa;
    border-radius: 4px;
  }
  
  .benefits-icon {
    width: 70px;
    height: 70px;
  }
  
  .benefits-title {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
    @media screen and (min-width: 768px){
      text-align: start;
    }
  }
  
  .benefits-text {
    margin-top: 0;
    margin-bottom: 0;
  
    font-size: 14px;
    line-height: 1.46;
    text-align: left;
  
    color: var(--main-text-color);
   
  }