.clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .clients-title {
    margin-bottom: 30px;
  }
  
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    & .clients-item + .clients-item {
      margin-left: 30px;
    }
  }
  
  .client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: solid 1px #afb1b8;
    border-radius: 4px;
    background-color: #ffffff;
    color: #afb1b8;
    transition-property: border-color;

    @include transition();
    
    &:hover, &:focus {
      color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }
  
  .clients-icon {
    fill: currentColor;
  }
  
 