.header {
    outline: 1px solid #ececec;
    
  }
  
  
  .header-logo-accent {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .header-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    @media screen and (min-width: 768px){
      padding-top: 26px;
      padding-bottom: 26px;
    }
    @media screen and (min-width: 1200px){
      padding-top: 24px;
      padding-bottom: 25px;
      margin-right: 93px;
  }
  }
  
  .header-nav {
    
    display: flex;
    align-items: center;
    margin-right: auto;
    justify-content:space-between
  }  
  
  
  .header-list {
    display: none;
    @media screen and (min-width: 768px){
      display: flex;
      
    }
    
  }
  
  .header-link {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    position: relative;

    transition-property: color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color:var(--accent-color);
  }
    &.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
    }
  }
  
  
  .header-communication-list {
    display: none;
    @media screen and (min-width: 768px){
      display: block;
    }
    @media screen and (min-width: 1200px){
      display: flex;
      align-items: center;
      margin-left: auto;
      align-items: center;
      justify-content: center;
    }
  }
  
  .header-item:not(:last-child) {
    display: block;
    margin-right: 50px;
  }
  
  .header-communication-item {
    
    @media screen and (min-width: 1200px){
      text-decoration: none;
      display: flex;
      justify-content: center;
    }
    
  }
  
  
  
  .header-mail-link {
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    
  
    transition-property: color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px){
    margin-right: 30px;
  }
  }

  .header-tel-link {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    
    
    transition-property: color;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
    &:focus {
    color: var(--accent-color);
    }
     @media screen and (min-width: 1200px){
      margin-left: 10px;
  }
  }
  
  .mail-icon, .tel-icon{
    margin-right: 10px;
    fill: currentColor;
    
  }
 
 
  .mob-open-btn{
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    fill: var(--accent-color);
    @media screen and (min-width: 768px){
      display: none;
    }
    
   
    
  }
  
  .mobile-menu{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 48px;
    .mob-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding-left: 36px;
      overflow-y: scroll;
      position: relative;
    }
    @media screen and (min-width: 768px){
      display: none;
    }
}



.mob-close-btn{
  display: block;
  position: absolute;
  margin-bottom: 0;
  right: 15px;
  border: none;
  background-color: transparent;
  fill: var(--accent-color);
  
  
  
}
.mob-menu-list{
  padding-top: 48px;
  margin-bottom: 36px;
}

.mob-menu-item:not(:last-child) {
margin-bottom: 32px;
}
  
  
  .mob-menu-link {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height:calc(47 / 40);
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    
    &.mob-current{
      color: var(--accent-color);
    }
    
  }
  
.mob-contacts{
  display: block;
}

  .mob-communication-list{
    margin-bottom: 64px;
  }
  .mob-communication-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mob-tel-link {
    font-weight: 500;
    font-size: 34px;
    line-height:calc(40 / 34);
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mob-mail-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  
  .mob-social-list{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    
  }
  
  .mob-social-item+.mob-social-item{
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }

 .mob-social-link{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
 }