.social__list {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;
}

.social__item {
    width: 44px;
    height: 44px;
    .social__list & + & {
    margin-left: 10px;
  }
  }
  
  .social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    color: #afb1b8;
    border-radius: 50%;
  
    @include transition($tp:background-color);
    
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
  }
  
  .social__icon {
    fill: currentColor;
  }
  
  
  
  